In [1]:
import pandas as pd

df = pd.read_csv('2024_medalists_all.csv')

In [2]:
df.columns.to_list()

['medalist_wikidata_id',
 'medalist_link',
 'medalist_name',
 'medal',
 'delegation_wikidata_id',
 'delegation_link',
 'delegation_name',
 'country_medal_wikidata_id',
 'country_medal',
 'country_medal_code2',
 'country_medal_code3',
 'country_medal_ioc_country_code',
 'country_medal_NUTS_code',
 'date_of_birth',
 'place_of_birth_wikidata_id',
 'place_of_birth',
 'place_of_birth_located_in_wikidata_id',
 'place_of_birth_located_in',
 'place_of_birth_coordinates',
 'lat',
 'lon',
 'sex_or_gender_wikidata_id',
 'sex_or_gender',
 'event_wikidata_id',
 'event_link',
 'event_name',
 'event_part_of_wikidata_id',
 'event_part_of',
 'event_sport_wikidata_id',
 'event_sport',
 'event_part_of_sport_wikidata_id',
 'event_part_of_sport',
 'sport_wikidata_id',
 'sport',
 'nuts1_id',
 'nuts1_name',
 'nuts2_id',
 'nuts2_name',
 'nuts3_id',
 'nuts3_name',
 'nuts2_population',
 'nuts3_population',
 'nuts2_gdp',
 'nuts3_gdp',
 'nuts0_id',
 'nuts0_name']

In [3]:
medalists = df[['medalist_name',
                'medal',
                'country_medal',
                'date_of_birth',
                'place_of_birth',
                'lat',
                'lon',
                'sex_or_gender',
                'event_name',
                'event_part_of_sport']]

In [4]:
medalists

,medalist_name,medal,country_medal,date_of_birth,place_of_birth,lat,lon,sex_or_gender,event_name,event_part_of_sport
0,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery at the 2024 Summer Olympics – Men's in...,archery
1,Brady Ellison,silver,United States of America,27/10/1988,Glendale,33.583333,-112.200000,male,Archery at the 2024 Summer Olympics – Men's in...,archery
2,Lee Woo-seok,bronze,South Korea,07/08/1997,Incheon,37.463889,126.648611,male,Archery at the 2024 Summer Olympics – Men's in...,archery
3,Kim Je-deok,gold,South Korea,12/04/2004,North Gyeongsang,36.250000,128.750000,male,Archery at the 2024 Summer Olympics – Men's team,archery
4,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery at the 2024 Summer Olympics – Men's team,archery
...,...,...,...,...,...,...,...,...,...,...
2197,Nonoka Ozaki,bronze,Japan,23/03/2003,Tokyo,35.689444,139.691667,female,wrestling at the 2024 Summer Olympics – women'...,wrestling
2198,Yuka Kagami,gold,Japan,14/09/2001,Yamagata,38.255417,140.339611,female,wrestling at the 2024 Summer Olympics – women'...,wrestling
2199,Kennedy Blades,silver,United States of America,04/09/2003,NaN,NaN,NaN,female,wrestling at the 2024 Summer Olympics – women'...,wrestling
2200,Milaimys Marín,bronze,Cuba,16/03/2001,NaN,NaN,NaN,female,wrestling at the 2024 Summer Olympics – women'...,wrestling
2201,Tatiana Rentería,bronze,Colombia,22/12/2000,Buenaventura,3.877222,-77.026667,female,wrestling at the 2024 Summer Olympics – women'...,wrestling

### The event_name contains 'at the 2024 Summer Olympics –', this is redundant and can be removed.

In [5]:
remove_string = 'at the 2024 Summer Olympics –'

medalists['event_name'] = medalists['event_name'].str.replace('at the 2024 Summer Olympics – ', '', regex=False)

C:\Users\44771\AppData\Local\Temp\ipykernel_20732\1187818442.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  medalists['event_name'] = medalists['event_name'].str.replace('at the 2024 Summer Olympics – ', '', regex=False)

In [6]:
medalists

,medalist_name,medal,country_medal,date_of_birth,place_of_birth,lat,lon,sex_or_gender,event_name,event_part_of_sport
0,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery Men's individual,archery
1,Brady Ellison,silver,United States of America,27/10/1988,Glendale,33.583333,-112.200000,male,Archery Men's individual,archery
2,Lee Woo-seok,bronze,South Korea,07/08/1997,Incheon,37.463889,126.648611,male,Archery Men's individual,archery
3,Kim Je-deok,gold,South Korea,12/04/2004,North Gyeongsang,36.250000,128.750000,male,Archery Men's team,archery
4,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery Men's team,archery
...,...,...,...,...,...,...,...,...,...,...
2197,Nonoka Ozaki,bronze,Japan,23/03/2003,Tokyo,35.689444,139.691667,female,wrestling women's freestyle 68 kg,wrestling
2198,Yuka Kagami,gold,Japan,14/09/2001,Yamagata,38.255417,140.339611,female,wrestling women's freestyle 76 kg,wrestling
2199,Kennedy Blades,silver,United States of America,04/09/2003,NaN,NaN,NaN,female,wrestling women's freestyle 76 kg,wrestling
2200,Milaimys Marín,bronze,Cuba,16/03/2001,NaN,NaN,NaN,female,wrestling women's freestyle 76 kg,wrestling
2201,Tatiana Rentería,bronze,Colombia,22/12/2000,Buenaventura,3.877222,-77.026667,female,wrestling women's freestyle 76 kg,wrestling

### Replace all Null values with 'Unknown' for now as we don't want to drop entire rows yet.

In [7]:
medalists = medalists.fillna('Unknown')

### However, the null values in 'event_part_of_sport' can be filled in if we know the 'event_name'.

In [8]:
missing_part_of_sport = medalists[medalists['event_part_of_sport']=='Unknown'][['event_name','event_part_of_sport']]

In [9]:
# medalists['event_name'].unique()

In [10]:
# Checking to see all the 'event_part_of_sport' values so we know what the match the event_name with missing values to.
medalists['event_part_of_sport'].unique()

array(['archery', 'synchronized swimming', 'Unknown', 'athletics',
       'badminton', 'basketball', 'boxing', 'breakdance',
       'canoeing and kayaking', 'cycle sport', 'diving',
       'equestrian sport', 'fencing', 'field hockey',
       'association football', 'golf', 'artistic gymnastics',
       'rhythmic gymnastics', 'trampoline gymnastics', 'handball', 'judo',
       'modern pentathlon', 'rowing', 'rugby sevens', 'sailing',
       'shooting sport', 'multi-sport event', 'sport climbing', 'surfing',
       'swimming', 'table tennis', 'taekwondo', 'tennis', 'triathlon',
       'volleyball', 'water polo', 'weightlifting', 'wrestling'],
      dtype=object)

In [11]:
missing_part_of_sport['event_name'].unique()

array(['Artistic swimming Team event', "cycling men's keirin",
       "cycling men's madison", "cycling men's omnium",
       "cycling men's team pursuit", "cycling women's keirin",
       "cycling women's madison", "cycling women's omnium",
       "cycling women's team pursuit"], dtype=object)

In [12]:
# If-elif is only used for single boolean values. To replace certain values, we must use .loc.
medalists.loc[medalists['event_name'].str.contains('Artistic swimming', na=False), 'event_part_of_sport'] = 'synchronized swimming'
medalists.loc[medalists['event_name'].str.contains('cycling', na=False), 'event_part_of_sport'] = 'cycle sport'

In [13]:
# medalists

In [14]:
# There are no more 'unknowns' in the 'event_part_of_sport' columns.
medalists['event_part_of_sport'].unique()

array(['archery', 'synchronized swimming', 'athletics', 'badminton',
       'basketball', 'boxing', 'breakdance', 'canoeing and kayaking',
       'cycle sport', 'diving', 'equestrian sport', 'fencing',
       'field hockey', 'association football', 'golf',
       'artistic gymnastics', 'rhythmic gymnastics',
       'trampoline gymnastics', 'handball', 'judo', 'modern pentathlon',
       'rowing', 'rugby sevens', 'sailing', 'shooting sport',
       'multi-sport event', 'sport climbing', 'surfing', 'swimming',
       'table tennis', 'taekwondo', 'tennis', 'triathlon', 'volleyball',
       'water polo', 'weightlifting', 'wrestling'], dtype=object)

### Next we want to check the datatypes of each column and ensure that they are of the correct type.

In [15]:
# Right now, they are all 'objects'.
medalists.dtypes

medalist_name          object
medal                  object
country_medal          object
date_of_birth          object
place_of_birth         object
lat                    object
lon                    object
sex_or_gender          object
event_name             object
event_part_of_sport    object
dtype: object

In [16]:
medalists

,medalist_name,medal,country_medal,date_of_birth,place_of_birth,lat,lon,sex_or_gender,event_name,event_part_of_sport
0,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery Men's individual,archery
1,Brady Ellison,silver,United States of America,27/10/1988,Glendale,33.583333,-112.2,male,Archery Men's individual,archery
2,Lee Woo-seok,bronze,South Korea,07/08/1997,Incheon,37.463889,126.648611,male,Archery Men's individual,archery
3,Kim Je-deok,gold,South Korea,12/04/2004,North Gyeongsang,36.25,128.75,male,Archery Men's team,archery
4,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery Men's team,archery
...,...,...,...,...,...,...,...,...,...,...
2197,Nonoka Ozaki,bronze,Japan,23/03/2003,Tokyo,35.689444,139.691667,female,wrestling women's freestyle 68 kg,wrestling
2198,Yuka Kagami,gold,Japan,14/09/2001,Yamagata,38.255417,140.339611,female,wrestling women's freestyle 76 kg,wrestling
2199,Kennedy Blades,silver,United States of America,04/09/2003,Unknown,Unknown,Unknown,female,wrestling women's freestyle 76 kg,wrestling
2200,Milaimys Marín,bronze,Cuba,16/03/2001,Unknown,Unknown,Unknown,female,wrestling women's freestyle 76 kg,wrestling
2201,Tatiana Rentería,bronze,Colombia,22/12/2000,Buenaventura,3.877222,-77.026667,female,wrestling women's freestyle 76 kg,wrestling

In [17]:
medalists['medal'] = medalists['medal'].astype('category')
medalists['country_medal'] = medalists['country_medal'].astype('category')
# As there are some athletes for which we do not know the DOB, these rows are filled with 'unknown'.
# These cannot be converted to datetime, so we can use 'coerce'.
medalists['date_of_birth'] = pd.to_datetime(medalists['date_of_birth'], format='%d/%m/%Y', errors='coerce')
medalists['lat'] = pd.to_numeric(medalists['lat'], errors='coerce')
medalists['lon'] = pd.to_numeric(medalists['lon'], errors='coerce')
medalists['sex_or_gender'] = medalists['sex_or_gender'].astype('category')
medalists['event_part_of_sport'] = medalists['event_part_of_sport'].astype('category')

In [18]:
medalists['country_medal'].unique()

['South Korea', 'United States of America', 'France', 'Turkey', 'People's Republic of China', ..., 'Guatemala', 'Chile', 'Iran', 'Ivory Coast', 'Albania']
Length: 90
Categories (90, object): ['Albania', 'Algeria', 'Argentina', 'Armenia', ..., 'United States of America', 'Unknown', 'Uzbekistan', 'Zambia']

In [19]:
# Checking to see if all the columns are of the correct datatype.
medalists.dtypes

medalist_name                  object
medal                        category
country_medal                category
date_of_birth          datetime64[ns]
place_of_birth                 object
lat                           float64
lon                           float64
sex_or_gender                category
event_name                     object
event_part_of_sport          category
dtype: object

In [20]:
medalists

,medalist_name,medal,country_medal,date_of_birth,place_of_birth,lat,lon,sex_or_gender,event_name,event_part_of_sport
0,Kim Woo-jin,gold,South Korea,1992-06-20,Okcheon County,36.300833,127.568611,male,Archery Men's individual,archery
1,Brady Ellison,silver,United States of America,1988-10-27,Glendale,33.583333,-112.200000,male,Archery Men's individual,archery
2,Lee Woo-seok,bronze,South Korea,1997-08-07,Incheon,37.463889,126.648611,male,Archery Men's individual,archery
3,Kim Je-deok,gold,South Korea,2004-04-12,North Gyeongsang,36.250000,128.750000,male,Archery Men's team,archery
4,Kim Woo-jin,gold,South Korea,1992-06-20,Okcheon County,36.300833,127.568611,male,Archery Men's team,archery
...,...,...,...,...,...,...,...,...,...,...
2197,Nonoka Ozaki,bronze,Japan,2003-03-23,Tokyo,35.689444,139.691667,female,wrestling women's freestyle 68 kg,wrestling
2198,Yuka Kagami,gold,Japan,2001-09-14,Yamagata,38.255417,140.339611,female,wrestling women's freestyle 76 kg,wrestling
2199,Kennedy Blades,silver,United States of America,2003-09-04,Unknown,NaN,NaN,female,wrestling women's freestyle 76 kg,wrestling
2200,Milaimys Marín,bronze,Cuba,2001-03-16,Unknown,NaN,NaN,female,wrestling women's freestyle 76 kg,wrestling
2201,Tatiana Rentería,bronze,Colombia,2000-12-22,Buenaventura,3.877222,-77.026667,female,wrestling women's freestyle 76 kg,wrestling

In [21]:
medalists.to_csv('medalists_cleaned.csv')